numpy<2
scipy
pretty-midi
torch
tqdm
validators
pillow
yt-dlp
jukebox @ git+https://github.com/tanchihpin0517/mirtoolkit_jukebox.git
madmom @ git+https://github.com/CPJKU/madmom.git@0551aa8f48d71a367d92b5d3a347a0cf7cd97cc9
resampy
librosa
